<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
  <script type="text/javascript"
        src="{% static 'ominicontacto/JS/campanas/queue_member.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/select2.min.js' %}"></script>
{% endblock head_js %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/select2.min.css' %}"></link>
{% endblock %}

{% block content %}
         {% if campana%}
            <h1>{% blocktrans with campana_nombre=campana.nombre %}Campaña {{ campana_nombre }}{% endblocktrans %}</h1>
                {% endif %}
                <div class="form-row">
                    <div class="col-md-6">
                        <form action="{%  url 'queue_member_add' campana.pk %}" role="form" method="post">
                                {% csrf_token %}
                                <h2>{% trans 'Agentes' %}</h2>
                                <table class="table">
                                     {{queue_member_form.as_table}}
                                </table>
                                <button type="submit" id="id_guardar" class="btn btn-outline-primary">
                                    {% trans 'Agregar agente' %}
                                </button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="{%  url 'queue_member_grupo_agente' campana.pk %}" role="form" method="post">
                                {% csrf_token %}
                                <h2>{% trans 'Grupos' %}</h2>
                                <table class="table">
                                     {{grupo_agente_form.as_table}}
                                </table>
                                <button type="submit" class="btn btn-outline-primary">
                                    {% trans 'Agregar grupo' %}
                                </button>
                        </form>
                    </div>
                </div>
            <hr>
            {% if campana %}
                <div class="col-md-3 float-right">
                    <form method="GET" action="{% url 'queue_member_campana' campana.pk %}" class="filter-flex">
                        <input type="text" id="filtroUsuarios" class="form-control" name="search" value="{{ search }}">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Filtrar' %}">
                    </form>
                </div>
                <br>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans 'Agente' %}</th>
                            <th>{% trans 'SIP id' %}</th>
                            <th>{% trans 'Penalty' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agente in queue_member_list %}
                            <tr>
                                <td>{{ agente.member}}</td>
                                <td>SIP/{{ agente.member.sip_extension }}</td>
                                <td>{{ agente.penalty }}</td>
                                <td><a class="btn btn-light" href="{% url 'queue_member_elimina' agente.pk campana.pk %}">{% trans 'Remover' %}</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">
                                    <p>{% trans 'No se encontraron agentes en está cola.' %}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <hr>
            <a href="{% url url_finalizar %}" class="btn btn-primary" role="button">
                {% trans 'Finalizar' %}
            </a>
{% endblock %}
